body {
  background-color: #202020 !important;
}


button.sc-bRKDuR.ewqsZX {
  background-color: #0c0c0c !important;
  border: none !important;
}

div.sc-bRKDuR.kyrFBs {
  background-color: #333333 !important;
  margin-top: 12rem;
  border: none !important;
  border-radius: 2rem;
  padding: 5.5rem 8rem !important;
}

.kUMJET {
  border: solid 1px #3b3b3b !important;
  background: none !important;
  border-radius: 1rem !important;
}


.ejxjdv {
    background-color: #2a2a2a !important;
    border: solid 1px #5d5d5d !important;
    color: #ffffff !important;
}


.ejxjdv[data-state='checked']:not([data-disabled]) {
    background-color: #0c0c0c !important;
    border-color: #0c0c0c !important;
}

input {
  background: #202020 !important;
  border-radius: 1rem !important;
}

.kUMJET:focus-within {
  border: solid 2px #0c0c0c !important;
  box-shadow: 0 0 0 0 !important;
  outline: 0 !important;
}


.sc-bRKDuR.gCkayI {
    display: none !important;
}



.cMurbg {
    background-color: #ef4132 !important;
    border: solid 1px #5d5d5d !important;
    color: #ffffff !important;
}

.hxWrjB.active  div {
    background-color: #111111 !important;
    border-color: #111111 !important;
}

.eQaTEG.active {
    background-color: #111111 !important;
    border: solid 1px #111111 !important;
    color: #ffffff !important;
}

.jPbJjG div {
    background-color: #0c0c0c !important;
    border-color: #0c0c0c !important;
}

g path {
    stroke: #0c0c0c !important;
}